body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #003A7e; /* Color de fondo de la página */
    color: #FFFFFF; /* Color del texto */
}

form {
    margin-bottom: 20px;
    background-color: #FFFFFF; /* Fondo blanco para el formulario */
    padding: 20px; /* Espaciado dentro del formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
}

#result {
    margin-top: 20px;
    font-size: 18px; /* Tamaño de fuente del resultado */
    color: #007bff; /* Color del texto del resultado */
}
